

.bg-conttainer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, white, rgb(219, 219, 156));;
    padding: 10px;
    padding-top: 30px;
}

.inner1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}


@media  (max-width: 1000px) {
    .inner1-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    
    
    }
    .inner2-container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
  }




.image-container {
    width: 40%;
    height: 90%
}

.image {
    width: 100%;
    height: 100%;
}

.logo {
    width: 70%;
}

.inner2-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}






.image2-container {
    width: 45%;
    margin-bottom: 20px;

}

.inner-heading {
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
}

.inner-paragraph {
    margin-bottom: 5px;


}

.bold-name {
    font-weight: bold;
}



.inner3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

}




.inner-para-cap {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;

}

.main-img-container{
    width: 98%;
}

.main-image{
    width: 100%;
}




.inner3-para {
    margin-top: 10px;
}



.last-img {
    width: 100%;
    height: 80%;
}

.image3-container {
    width: 80%;
}

.horizonatal-line {
    border-radius: 3px;
    border-width: 2px;
    width: 100%;
    border-style: solid;
    border-color: red;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-head {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.foot-para {
    text-align: center;
}

.vertical {
    color: red;
}

.bottom {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-conatiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    


}

.icon {
    color: white;
}

.icon-para {
    color: white;
    margin-bottom: 0px;
    margin-left: 10px;
}